


#content{
    
    /* height: 2000px; */
    width : 1640px;
    /* border: solid 1px #ccc; */
    margin:0 auto 100px;
}


@media screen and (max-width:1600px){
    #content{
     width : 100%;
        }
}