#content > .showSomeThing3 {
    margin: 0 auto 1000px;
    /* border: 5px solid red; */
    width: 1400px;
    height: 270px;
    display: flex;
    justify-content: space-between;
}

#content > .showSomeThing3 > a{
    width: 48%;

}

#content > .showSomeThing3 > a >img {
    border-radius: 20px;
    width: 100%;
    /* height: 10%; */
} 
@media screen and (max-width:1400px){
    #content > .showSomeThing3{
    height: auto;
    width: 100%;
    flex-wrap: wrap;

    justify-content: space-around;
    }
}


@media screen and (max-width:800px){
    #content > .showSomeThing3{
    height: 540px;

    }
    #content > .showSomeThing3 > a{
        display: block;
        height: 50%;
        width: 90%;
 
    }
    #content > .showSomeThing3 > a >img {
        padding-top: 15px;
        display: block;
        margin: auto;
        border-radius: 20px;
        width: 100%;

        /* height: 10%; */
    } 
}